@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    box-sizing: border-box;
}

@media(max-width:767px){
    .oculta{
    display: none;
  

}
.no-padding-sm {
    padding-left: 0 !important;
    padding-right: 0 !important; /* Usa !important para asegurar que sobreescribe cualquier otro estilo */
}

}

