.black-gradiant {
    border-image: fill 0 linear-gradient(to bottom, rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0.5));
    transition: opacity 1s ease-in-out;
}

.black-gradiant::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.473), transparent);
    z-index: -1;
}

.fw{
    width: 100%;
    max-width: 100%;
    display: block ruby;
    padding-bottom: 30px;
}
.border-img {
    width: 20%;
    border-radius: 50%;
   box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0);
}

.txt-input-email{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.473), transparent);
    color: #ffff;
}

.btn-enviar{
    color: #ffff;
    transition: all .3s ease;
}

.btn-enviar:hover{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(255, 255, 255);
    color: #000;
}

@media (max-width: 768px) {
    .border-img {
        width: 60%;
        margin: auto;
        margin-bottom: 100px;
        bottom: 30px;
        position: relative;
    }

}

@media (max-width: 980px) {
    .border-img {
        width: 30%;
        margin: auto;
        margin-bottom: 100px;
        bottom: 30px;
        position: relative;
    }

}