@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h2 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 5vw;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    margin: 0;
    padding: 0;
}

blockquote{
    color: white;
    font-size: 1vw;
    position: relative;
    top: 160%;
    right: 106%;
    transform: translateY(-50%);
    text-align: left;
    margin: 0;
    padding: 0;
}

